<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shepherd.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5FD72D46DBC1231789633E38D4F188BAA27BF9D1</string>
				<key>dateExpires</key>
				<string>2020/7/15</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>CS6BZ8L8Z4.com.zjft.shepherdApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>CS6BZ8L8Z4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>紫金移动牧羊犬.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>18d35e41-60e6-42b6-85be-da5213f7c504</string>
				<key>name</key>
				<string>shepherdApp_AdHoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>CS6BZ8L8Z4</string>
				<key>name</key>
				<string>ZIJIN FULCRUM TECHNOLOGY CO.,LTD.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
